### Import package, import data

In [1]:
from sklearn.datasets import load_diabetes
import pandas as pd
import sys
sys.path.append('../')
from src.tabularmagic import TabularMagic
from src.models import Linear

diabetes_data = load_diabetes()
df = pd.DataFrame(data=diabetes_data.data, columns=diabetes_data.feature_names)
df['target'] = diabetes_data.target
display(df.head())

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

### Create a TabularMagic object

In [2]:
tabmag = TabularMagic(df)

### Create several models

In [3]:
models = [
    Linear(regularization_type=None),
    Linear(regularization_type='l1'),
    Linear(regularization_type='l2')
]

### Conduct a benchmarking exercise with the specified models

In [4]:
tabmag.comprehensive_model_benchmarking(
    X_vars = ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'],
    y_var = ['target'],
    models = models,
    test_size = 0.2
)

                 Value        Value        Value
Statistic
mse        2868.549703  2926.311222  2910.900663
mad          43.483504    44.145077    43.884893
pearsonr      0.726581     0.721006     0.722960
spearmanr     0.711415     0.705112     0.707112
r2            0.105771    -0.032037    -0.031555
adjr2         1.105940     0.964102     0.964598