### Import package, import data

In [1]:
from sklearn.datasets import load_diabetes
import pandas as pd
import sys
sys.path.append('../')
from src.tabularmagic import TabularMagic
from src.models import Linear, Tree, TreeEnsemble

diabetes_data = load_diabetes()
df = pd.DataFrame(data=diabetes_data.data, columns=diabetes_data.feature_names)
df['target'] = diabetes_data.target
display(df.head())

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

### Create a TabularMagic object

In [5]:
tabmagic = TabularMagic(df)

### Create several models

In [6]:
models = [
    Linear(regularization_type=None, n_jobs=-1),
    Linear(regularization_type='l1', n_jobs=-1),
    Linear(regularization_type='l2', n_jobs=-1),
    Tree(n_jobs=-1),
    TreeEnsemble(ensemble_type='random_forest', n_jobs=-1),
    TreeEnsemble(ensemble_type='bagging', n_jobs=-1),
]

### Conduct a benchmarking exercise with the specified models

In [7]:
train_metrics, test_metrics = tabmagic.comprehensive_model_benchmarking(
    X_vars = ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'],
    y_var = ['target'],
    models = models,
    test_size = 0.2
)
display(train_metrics)
display(test_metrics)

Task 1 of 6. 	 Training Linear(None).
Task 2 of 6. 	 Training Linear(l1).
Task 3 of 6. 	 Training Linear(l2).
Task 4 of 6. 	 Training Tree.
Task 5 of 6. 	 Training TreeEnsemble(random_forest).
Task 6 of 6. 	 Training TreeEnsemble(bagging).

,Linear(None),Linear(l1),Linear(l2),Tree,TreeEnsemble(random_forest),TreeEnsemble(bagging)
Statistic,,,,,,
mse,2868.549703,2923.063427,2907.574810,3162.948578,1778.223008,883.027257
mad,43.483504,44.097098,43.837136,44.809218,34.999362,24.393201
pearsonr,0.726581,0.721252,0.723124,0.692438,0.861264,0.941158
spearmanr,0.711415,0.705422,0.707337,0.683333,0.853374,0.935203
r2,0.105771,-0.022809,-0.018108,-0.085637,0.359123,0.752051
adjr2,0.079624,-0.052715,-0.047877,-0.117381,0.340384,0.744801

,Linear(None),Linear(l1),Linear(l2),Tree,TreeEnsemble(random_forest),TreeEnsemble(bagging)
Statistic,,,,,,
mse,2900.193628,2800.101912,2858.835654,3032.941952,2800.453132,2832.476503
mad,42.794095,42.794838,42.966122,44.185059,43.263641,43.619775
pearsonr,0.677973,0.688157,0.680323,0.654633,0.688452,0.684018
spearmanr,0.667263,0.674660,0.664360,0.644978,0.649233,0.653482
r2,0.006905,-0.059852,-0.123184,-0.215993,-0.293737,-0.244812
adjr2,-0.120415,-0.195730,-0.267181,-0.371889,-0.459601,-0.404404